@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #FF6767;
  --color-secondary: #F8F8F8;
  --color-brick: #DADDE4;
  --font-inter: var(--font-inter);
  --shadow-dark: 0px 2px 19px -10px #FF6767;
  --breakpoint-lgg: 860px;
  --breakpoint-lg7: 700px;
}

@layer base {
  :root {
    --bg-main: #ffffff;
    --bg-card: #ffffff;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border-color: #e5e7eb;
    --bg-orange: #FF6767;
  }

  .dark {
    --bg-orange: #c24747;
    --bg-main: #111827;
    --bg-card: #1f2937;
    --text-main: #f9fafb;
    --text-muted: #9ca3af;
    --border-color: #374151;
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.hide-scrollbar {
  overflow-y: scroll;
  /* enables scrolling */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0;
}

button {
  cursor: pointer;
}